@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* myself class adn id  */
#container {
  margin-left: 500px;
  width: 400px;
  height: 80vh;
}
.Add {
  display: flex;
  gap: 10px;
}
.box {
  color: #646cff;
  font-weight: 500;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 300px;
  height: auto;
  text-align: center;
  padding: 30px;
}
input[type="text"] {
  text-align: first;
  outline: none;
  min-width: 50px;

  background-color: #242424;
}
